.idea
.idea/*
.DS_Store
.DS_Store/*
.env
laravel6/node_modules
laravel6/public/hot
laravel6/public/storage
laravel6/storage/*.key
laravel6/vendor
laravel6/.env
laravel6/.env.backup
laravel6/.phpunit.result.cache
laravel6/Homestead.json
laravel6/Homestead.yaml
laravel6/npm-debug.log
laravel6/yarn-error.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

